streamlit==1.42.2
pandas==2.2.3
toml==0.10.2
openai==1.63.2
langchain==0.3.19
streamlit-ace
langchain-community==0.3.18
langchain-core==0.3.37
langchain-text-splitters==0.3.6
langchain-openai==0.3.6
protobuf==5.29.3
gcsfs==2025.2.0
st-files-connection